BUNDLE_NAME = HandsOptional Flight
PRODUCT_NAME = $(TARGET_NAME)
BUNDLE_DISPLAY_NAME = $(BUNDLE_NAME)
INFOPLIST_FILE = CH Drone 2/Info.plist

CODE_SIGN_IDENTITY = Apple Development
CODE_SIGN_STYLE = Automatic
//CODE_SIGN_ENTITLEMENTS = $(PROJECT_NAME)/$(PROJECT_NAME).entitlements
DEVELOPMENT_TEAM = RKHD32Y276   // Astrocode Pty Ltd

SWIFT_OBJC_BRIDGING_HEADER = CH Drone 2/CH Drone-Bridging-Header.h

// Versioning
MARKETING_VERSION = 1.0.0

// Asset Catalog Compiler - Options
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor

PRODUCT_BUNDLE_IDENTIFIER = co.astrocode.drone-controller
DJI_SDK_APP_KEY = 26e70dbbe514a48dc1f623e3

TARGETED_DEVICE_FAMILY = 2 // iPad
ENABLE_BITCODE = NO
