#include "Project-Shared.xcconfig"

// Architectures
ONLY_ACTIVE_ARCH = YES
ENABLE_TESTABILITY = YES

// Apple Clang - Code Generation
GCC_OPTIMIZATION_LEVEL = 0

// Apple Clang - Preprocessing
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEBUG=1

// Swift Compiler - Code Generation
SWIFT_OPTIMIZATION_LEVEL = -Onone
SWIFT_COMPILATION_MODE = singlefile

// Swift Compiler - Custom Flags
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG

// User-Defined
MTL_ENABLE_DEBUG_INFO = INCLUDE_SOURCE
